[Desktop Entry]
Name=Chromium OS
Comment=Starts the Chromium OS GUI as an application.
Exec=chromeos
TryExec=chromeos
Icon=/opt/google/chromeos/product_logo_48.png
Type=Application

